<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myntra - Online Shopping</title>
    <link
      rel="icon"
      href="https://constant.myntassets.com/web/assets/img/icon.5d108c858a0db793700f0be5d3ad1e120a01a500_2021.png"
      type="image/icon type"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>
  <body>
    <main>
      <!-- <div class="autocom"></div>
      <div class="header sticky">
        <div>
          <a href="\home"
            ><img
              src="https://cdn.freelogovectors.net/wp-content/uploads/2021/02/myntra-logo-freelogovectors.net_.png"
              alt="logo"
          /></a>
        </div>
        <div class="categories">
          <ul>
            <li class="dropdown-content1 dropdown-content">
              <a href="/top5influencers">Top 5 Influencers</a>
            </li>
            <li class="dropdown-content2 dropdown-content">
              <a href="/mostlovedproducts">Most Loved Products</a>
            </li> -->
            <!-- <li class="dropdown-content3 dropdown-content">
              <a href="">Kids</a>
            </li>
            <li class="dropdown-content4 dropdown-content">
              <a href="">Home & Living</a>
            </li>
            <li class="dropdown-content5 dropdown-content">
              <a href="">Beauty</a>
            </li> -->
          <!-- </ul>
        </div> -->

        <!-- Search Div -->
        <!-- <div class="search-div">
          <img
            id="searchpng"
            src="https://image.flaticon.com/icons/png/128/49/49116.png"
            alt=""
          />

          <input
            type="text"
            placeholder="Search for products, brands and more"
          />
        </div>

        <div class="nav-last">
          <div class="dropdown-content dropdown-content6">
            <a href="">
              <img
                id="svg"
                src="https://www.svgrepo.com/show/198180/user-profile.svg"
                alt=""
              />
            </a>

            <div>Profile</div>
          </div>

          <div>
            <a href="#" onclick="wishPage()">
              <img
                id="svg"
                src="https://www.svgrepo.com/show/14970/heart.svg"
                alt=""
              />
            </a>

            <div>Wishlist</div>
          </div>

          <div>
            <a href="#" onclick="bagPage()">
              <img
                id="svg"
                src="https://www.svgrepo.com/show/17522/bag.svg"
                alt=""
              />
            </a>

            <div>Bag</div>
          </div>
        </div>
      </div> -->

      <!-- navbar section -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img style="width: 51px; margin-left: 30%; margin-right: 50px;" src="https://cdn.freelogovectors.net/wp-content/uploads/2021/02/myntra-logo-freelogovectors.net_.png" alt=""></a>
      
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
       
          <ul class="navbar-nav" >
            <li class="dropdown-content1 dropdown-content nav-item">
              <a class="nav-link active" style="font-size: 1.15rem; font-weight: 600;" href="/top5influencers">Top 5 Influencers</a>
            </li>
            <li class="dropdown-content2 dropdown-content nav-item">
              <a class="nav-link active" style="font-size: 1.15rem; font-weight: 600;" href="/mostlovedproducts">Most Loved Products</a>
            </li>
          </ul>

        
            <ul style="margin-left: auto; margin-right: 3%;" class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  <div class="search-div">
                    <img
                      id="searchpng"
                      src="https://image.flaticon.com/icons/png/128/49/49116.png"
                      alt=""
                    />
                  
                    <input
                      type="text"
                      placeholder="Search for products, brands and more"
                    />
                  </div>
                </a>
              </li>
              <li class="nav-item" style="margin-top: 7px;">
                <a class="nav-link active" href="#">
                    Profile
                </a>
              </li>
              <li class="nav-item" style="margin-top: 7px;">
                <a class="nav-link active" href="#" >
                 Wishlist
                </a>
              </li>
              <li class="nav-item" style="margin-top: 7px;">
                <a class="nav-link active" >
                 Bag
                </a>
              </li>
            </ul>
        
      </div>
    </div>
  </nav>
    

      <!-- Carousal to be added here -->
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="margin-top: 15vh;">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/11/3/ccbcde61-04fc-4fb4-9913-0542aa19998f1635955686398-H-N_Desk_Banner.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/19/53a9d49b-85d7-40d4-a393-98435d3d04e31626700661018-cat-fest-dk-april.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/11/3/5f3f4cdd-ffd2-4853-9767-d98a1455e9361635955686449-Footwear_Dk.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

      <!--Carousal for most loved and top 5 infulencer-->
      <!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="margin-top: 10vh;">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button> -->
          <!-- <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
        <!-- </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="/static/images/Carouselitem.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/static/images/Carouselitem.jpeg" class="d-block w-100" alt="...">
          </div> -->
          <!-- <div class="carousel-item" data-bs-interval="2000">
            <img src="/static/images/Carouselitem.jpeg" class="d-block w-100" alt="...">
          </div> -->
        <!-- </div>
      </div> -->
      

      <!-- OUR PRODUCTS -->
    <div>
      <div class="text-banner-container">
        <h4 class="text-banner-title">OUR PRODUCTS</h4>
      </div>
      <div style="margin: 60px auto 30px;display: flex; align-items: center; justify-content: center; flex-direction: column;" >
      <% for(let i=0;i<productDataArray.length;i+=4){ %>
       <div class="row" style="margin-top: 15px;margin-bottom: 15px;">
        <%for(let j=i;j<productDataArray.length && j<i+4;j++){ %>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="text-align: center; margin-top:15px; margin-bottom:15px;">
            <div class="card" style="width: 16rem;">
          
              <img style="border-radius: 15px; max-height: 230px; object-fit: cover;" src=<%= productDataArray[j].images %> class="card-img-top" alt="...">
       
              <div class="card-body">
                <h5 class="card-title"><%= productDataArray[j].brandName %></h5>
                <p class="card-text"><%= productDataArray[j].productName %></p>
                
                <p class="card-text"><span style="font-weight: bold;">Rs <%= productDataArray[j].price %></span><span style="font-weight: lighter !important; text-decoration: line-through;margin-left: 5px;margin-right: 5px; color:rgba(94, 93, 79, 0.445)">Rs <%= ((productDataArray[j].price * 100)/(100-productDataArray[j].discount)).toFixed(2) %></span></p>
                
                <p><span style="font-weight: lighter !important; color:#f53edc">(<%= productDataArray[j].discount %>% Off)</span></p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <% } %>
    </div>   
  </div> 
      <!-- (ejs angular brackets)for(let i=0;i<influencerDataArray.length;i++){ (ejs angular brackets)
        <h1>(ejs angular brackets with percentage) influencerDataArray[i].name (ejs angular brackets with percentage)</h1>
    (ejs angular brackets)}(ejs angular brackets) -->
  


      <!-- CATEGORIES TO BAG -->
      <div class="text-banner-container">
        <h4 class="text-banner-title">CATEGORIES TO BAG</h4>
      </div>

      <div class="img-link-container-2">
        <a href="\products"
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/89f1bd9d-3a28-456d-888a-beff717a06f81594222908155-Shirts.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/9ff1f34e-9242-47fd-9566-e7d7a5c240511594222908483-T-shirt.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/720cf6ef-3be4-4825-8211-0125c942e3821594222907960-Jeans.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/2bac5e2d-337b-42c0-88c7-3d4e2dc464141594222908262-Shorts-_-Trousers.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/ae14f627-9fd9-41ce-80a4-f107c316c7eb1594222907625-Casual-shoes.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/f0f9b81a-b9d5-4b8b-94d5-ea878fa9b18e1594222834121-Infant-Essential.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/8d992d81-49e6-4dec-89a4-49a8af8beb5d1594222967220-Kurtas-_-Kurta-Sets.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/a048cca8-7b5d-417e-9645-ca98f4b6e52c1594222967506-Sarees.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/b0f459a0-9ef0-4392-a9ed-23892a36e79c1594222966859-Dresses.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/a4dedaa4-3710-4061-b7d6-ca8c83ce9d021594222967117-Heels.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/a352f908-57c8-4c66-b052-18137cf15e6c1594222967074-Handbags.jpg"
            alt=""
        /></a>

        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2020/7/8/18eb31db-8dcb-4efa-b92d-61c8ebe0ee811594222834368-Shorts.jpg"
            alt=""
        /></a>
      </div>

      <!-- EXPLORE TOP BRANDS -->

      <div class="text-banner-container">
        <h4 class="text-banner-title">EXPLORE TOP BRANDS</h4>
      </div>

      <div class="img-link-container">
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/a88b9390-5adb-493b-a1b3-702c59ccf53a1598348260502-Nike.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/c9f66558-feab-4d76-aa3c-adc68d81dce21598348260415-Levis.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/5/178c1e5d-69f2-402f-a2a5-ef44700a0f691596640983793-Roadster---.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/085719b1-c71e-4f47-950c-9a6b7f291fac1598348260370-Jack-_-Jones.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/5/774f42c4-f459-4514-9b90-cf8a60a5f68c1596644478087-hrx30.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/f6e40444-b1a4-4c91-bb3c-fe213356e7de1598348260541-Only.jpg"
            alt=""
        /></a>
        <a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/5/a6de806a-b58b-460b-97fd-d78d80eab39b1596641021693-Women-s-Ethnic-Wear_Anouk.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/8d13b55d-a6a0-40ae-b39f-16f43e7911681598348260460-MAC.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/046ab589-87d5-4afa-8ab3-10e06fdbe6a61598348260596-W.jpg"
            alt="" /></a
        ><a href=""
          ><img
            src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/8/25/f2fdda02-423c-4f11-8f1b-618ba807e5841598348260323-H_M.jpg"
            alt=""
        /></a>
      </div>

      <!-- Footer -->
      
      <%- include("footer.ejs") -%>

    </main>
  </body>
</html>
<script src="/static/js/home.js"></script>

<script src="/static/js/search.js"></script>

<script>
  function changeProfile() {
    let token = JSON.parse(localStorage.getItem("token"));
    if (token != null || token != undefined) {
      let div = document.querySelector(".changediv");
      div.innerHTML = `<ul>
          <li ><a href="#">${token.name}</a></li>
          <li><a href="/bag/${token.id}">Bag</a></li>
          <li><a href="/wishlist/${token.id}">Wishlist</a></li>
          <li><a href="/home" onclick="logout()">Logout</a></li>
        </ul>`;
    }
  }
  changeProfile();
</script>
